<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="icon" href="" />
    <link rel="stylesheet" href="/style.css">
    <title>10 years of CSSDAY</title>
  </head>
  <body>
    <h1>10 years of CSSDAY</h1>

    <main>
        <div class="">
        </div>
    </main>

    <script src="/main.js"></script>
  </body>
</html>
