@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap");

:root {
  ---text-regular: "Josefin Sans", sans-serif;
  ---headings: "Yeseva One", serif;
  ---white: #f5f2ef;
  ---black: #292827;
  ---dark-grey: #414040;
  ---orange: #cd853f;
  ---light-orange: #ffa81c;
}

body {
  font-family: var(---text-regular);
  background-color: var(---white);
  color: var(---black);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(---headings);
}

header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  height: 100%;
  gap: 2rem;
}

header p {
  width: 80vw;
}

/* big blobby boii */

.blob {
  background: linear-gradient(
    to right,
    var(---light-orange),
    var(---orange),
    plum
  );
  height: 23rem;
  opacity: 75%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  z-index: -100;
  animation: rotate 20s infinite;
  filter: blur(8em);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.2;
  }

  to {
    rotate: 360deg;
  }
}

.cta {
  display: flex;
  flex-direction: row;
  width: 75vw;
  align-items: center;
  gap: 2rem;
}

header img {
  height: 2rem;
}

.scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroll div{
  position: relative;
}

.scroll span{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  margin-right: 1rem;
  color: #ffa81c;
  font-family: var(---headings);
  font-size: 2.2rem;
  transform: rotate(-15deg);
}

.stickers {
  position: absolute;
  z-index: 3;
  top: 7rem;
  margin-left: 5rem;
  height: 12rem;
  width: 12rem;
}

.CCSDay_img {
  height: 15rem;
  width: 15rem;
  border-radius: 1.5rem;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CCSDay_img:hover{
  filter: grayscale(1);
}

main {
  margin: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 100vh;
}

.speakers {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1.5rem;
}

.speakers img {
  border-radius: 1.5rem;
  height: 7.2rem;
  width: 7.2rem;
}
